[Unit]
Description=drn status bar
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/drn " · " "local_time" "batt_capacity" "batt_status"

[Install]
WantedBy=xsession.target
